# Contents
### Find the aggregated mean of the “order_number” column grouped by “department_id”
### Difference between the spending habits of the three types of customers (whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers
### Create a spending flag for each user based on the average price across all their orders
### Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [4]:
# Import Data
path = r'/Users/maitran/Documents/Instacart Basket Analysis'

In [5]:
# Import the orders_products_merge dataframe
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_2.pkl'))

### Find the aggregated mean of the “order_number” column grouped by “department_id”

In [6]:
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

#### Observation: The mean in each department of the whole data set is totally different than the mean of the subset. The subset only contain 1 mil rows which leading to not showing all the results for all the departments.

### Creating a loyalty flag for existing customers using the transform() and loc() functions

In [7]:
#Create another new column that assigns a loyalty flag to each customer according to the criteria
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [10]:
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,price_range_loc,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Soda,77,7,9.0,both,Regularly busy,Regularly days,Average orders,Mid-range product,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Soda,77,7,9.0,both,Regularly busy,Slowest days,Average orders,Mid-range product,10
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders,Mid-range product,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Soda,77,7,9.0,both,Least busy,Slowest days,Average orders,Mid-range product,10
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Soda,77,7,9.0,both,Least busy,Slowest days,Most orders,Mid-range product,10
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,Soda,77,7,9.0,both,Regularly busy,Regularly days,Average orders,Mid-range product,10
6,550135,1,prior,7,1,9,20.0,196,1,1,...,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,Mid-range product,10
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,Mid-range product,10
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,Mid-range product,10
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,Soda,77,7,9.0,both,Least busy,Slowest days,Average orders,Mid-range product,10
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,Mid-range product,22
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,Soda,77,7,9.0,both,Regularly busy,Regularly days,Most orders,Mid-range product,22
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,Soda,77,7,9.0,both,Regularly busy,Regularly days,Most orders,Mid-range product,22
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,Mid-range product,22
14,487368,15,prior,22,1,10,14.0,196,1,1,...,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,Mid-range product,22

In [8]:
## Deriving Columns with loc()
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [9]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [10]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [11]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [18]:
# Check output
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

### Difference between the spending habits of the three types of customers (whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.)

In [12]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'sum']})

                     prices
                       mean  min      max          sum
loyalty_flag
Loyal customer    10.386336  1.0  99999.0  106814042.2
New customer      13.294670  1.0  99999.0   83011787.2
Regular customer  12.495717  1.0  99999.0  198391693.2

#### Observation: There is no difference among three types of customers in min and max spending. However, new customers tend to spend more compared to regular and loyal customers. New customer spending avarage is 13.2 while regular customer is 12.4 and loyal customer is 10.3.

### Create a spending flag for each user based on the average price across all their orders

In [13]:
# Creating “average_price” column using transform()
ords_prods_merge['avg_order'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [17]:
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,price_range_loc,max_order,loyalty_flag,avg_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,7,9.0,both,Regularly busy,Regularly days,Average orders,Mid-range product,10,New customer,6.367797
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,7,9.0,both,Regularly busy,Slowest days,Average orders,Mid-range product,10,New customer,6.367797
2,473747,1,prior,3,3,12,21.0,196,1,1,...,7,9.0,both,Regularly busy,Slowest days,Most orders,Mid-range product,10,New customer,6.367797
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,7,9.0,both,Least busy,Slowest days,Average orders,Mid-range product,10,New customer,6.367797
4,431534,1,prior,5,4,15,28.0,196,1,1,...,7,9.0,both,Least busy,Slowest days,Most orders,Mid-range product,10,New customer,6.367797
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,7,9.0,both,Regularly busy,Regularly days,Average orders,Mid-range product,10,New customer,6.367797
6,550135,1,prior,7,1,9,20.0,196,1,1,...,7,9.0,both,Regularly busy,Busiest days,Most orders,Mid-range product,10,New customer,6.367797
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,7,9.0,both,Regularly busy,Busiest days,Most orders,Mid-range product,10,New customer,6.367797
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,7,9.0,both,Regularly busy,Busiest days,Most orders,Mid-range product,10,New customer,6.367797
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,7,9.0,both,Least busy,Slowest days,Average orders,Mid-range product,10,New customer,6.367797
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,7,9.0,both,Regularly busy,Busiest days,Most orders,Mid-range product,22,Regular customer,3.980556
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,7,9.0,both,Regularly busy,Regularly days,Most orders,Mid-range product,22,Regular customer,3.980556
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,7,9.0,both,Regularly busy,Regularly days,Most orders,Mid-range product,22,Regular customer,3.980556
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,7,9.0,both,Regularly busy,Busiest days,Most orders,Mid-range product,22,Regular customer,3.980556
14,487368,15,prior,22,1,10,14.0,196,1,1,...,7,9.0,both,Regularly busy,Busiest days,Most orders,Mid-range product,22,Regular customer,3.980556

In [14]:
## Deriving Columns with loc()
ords_prods_merge.loc[ords_prods_merge['avg_order'] < 10, 'spending_flag'] = 'Low spender'

In [15]:
ords_prods_merge.loc[ords_prods_merge['avg_order'] >= 10, 'spending_flag'] = 'High spender'

In [16]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,price_range_loc,max_order,loyalty_flag,avg_order,spending_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,9.0,both,Regularly busy,Regularly days,Average orders,Mid-range product,10,New customer,6.367797,Low spender
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,9.0,both,Regularly busy,Slowest days,Average orders,Mid-range product,10,New customer,6.367797,Low spender
2,473747,1,prior,3,3,12,21.0,196,1,1,...,9.0,both,Regularly busy,Slowest days,Most orders,Mid-range product,10,New customer,6.367797,Low spender
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,9.0,both,Least busy,Slowest days,Average orders,Mid-range product,10,New customer,6.367797,Low spender
4,431534,1,prior,5,4,15,28.0,196,1,1,...,9.0,both,Least busy,Slowest days,Most orders,Mid-range product,10,New customer,6.367797,Low spender

In [17]:
# Check the frequency

ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [18]:
ords_prods_merge.shape

(32404859, 24)

### Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column

In [19]:
# Creating “median_prior_order” column using transform()
ords_prods_merge['median_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [27]:
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,_merge,busiest_day,busiest_days,busiest_period_of_day,price_range_loc,max_order,loyalty_flag,avg_order,spending_flag,median_prior_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,both,Regularly busy,Regularly days,Average orders,Mid-range product,10,New customer,6.367797,Low spender,20.5
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,both,Regularly busy,Slowest days,Average orders,Mid-range product,10,New customer,6.367797,Low spender,20.5
2,473747,1,prior,3,3,12,21.0,196,1,1,...,both,Regularly busy,Slowest days,Most orders,Mid-range product,10,New customer,6.367797,Low spender,20.5
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,both,Least busy,Slowest days,Average orders,Mid-range product,10,New customer,6.367797,Low spender,20.5
4,431534,1,prior,5,4,15,28.0,196,1,1,...,both,Least busy,Slowest days,Most orders,Mid-range product,10,New customer,6.367797,Low spender,20.5
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,both,Regularly busy,Regularly days,Average orders,Mid-range product,10,New customer,6.367797,Low spender,20.5
6,550135,1,prior,7,1,9,20.0,196,1,1,...,both,Regularly busy,Busiest days,Most orders,Mid-range product,10,New customer,6.367797,Low spender,20.5
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,both,Regularly busy,Busiest days,Most orders,Mid-range product,10,New customer,6.367797,Low spender,20.5
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,both,Regularly busy,Busiest days,Most orders,Mid-range product,10,New customer,6.367797,Low spender,20.5
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,both,Least busy,Slowest days,Average orders,Mid-range product,10,New customer,6.367797,Low spender,20.5
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,both,Regularly busy,Busiest days,Most orders,Mid-range product,22,Regular customer,3.980556,Low spender,10.0
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,both,Regularly busy,Regularly days,Most orders,Mid-range product,22,Regular customer,3.980556,Low spender,10.0
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,both,Regularly busy,Regularly days,Most orders,Mid-range product,22,Regular customer,3.980556,Low spender,10.0
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,both,Regularly busy,Busiest days,Most orders,Mid-range product,22,Regular customer,3.980556,Low spender,10.0
14,487368,15,prior,22,1,10,14.0,196,1,1,...,both,Regularly busy,Busiest days,Most orders,Mid-range product,22,Regular customer,3.980556,Low spender,10.0

In [20]:
## Deriving Columns with loc()
ords_prods_merge.loc[ords_prods_merge['median_prior_order'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [21]:
ords_prods_merge.loc[(ords_prods_merge['median_prior_order'] > 10) & (ords_prods_merge['median_prior_order']<=20), 'order_frequency_flag'] = 'Regular customer'

In [22]:
ords_prods_merge.loc[ords_prods_merge['median_prior_order'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [23]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,busiest_day,busiest_days,busiest_period_of_day,price_range_loc,max_order,loyalty_flag,avg_order,spending_flag,median_prior_order,order_frequency_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Regularly busy,Regularly days,Average orders,Mid-range product,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Regularly busy,Slowest days,Average orders,Mid-range product,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Regularly busy,Slowest days,Most orders,Mid-range product,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Least busy,Slowest days,Average orders,Mid-range product,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Least busy,Slowest days,Most orders,Mid-range product,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [24]:
# Check the frequency

ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_frequency_flag, dtype: int64

In [25]:
# Export Data
ords_prods_merge.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_merged_aggregated.pkl'))